
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montserrat:wght@300&display=swap');

*,
*:after,
*:before{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}
body{
    background-color: rgba(0, 0, 0, 1);background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1000' preserveAspectRatio='none' viewBox='0 0 1920 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3crect width='1920' height='1000' x='0' y='0' fill='rgba(37%2c 37%2c 37%2c 1)'%3e%3c/rect%3e%3cpath d='M1159.57-126.66C959.95-36.22 1047.28 595.24 666.22 597.91 285.15 600.58-57.97 243.47-320.49 237.91' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1061.77-30.03C910.71 34.1 978.82 501.77 681.76 505.22 384.7 508.67 118.21 306.88-78.26 305.22' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1264.15-35.64C1039.13 71.45 1040.52 766.85 715.52 796.61 390.52 826.37 441.21 671.61 166.89 671.61-107.42 671.61-241.07 795.82-381.74 796.61' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M866.3-117.06C697.11 47.31 801.38 755.84 527.3 763.49 253.22 771.14 54.33 315.72-150.71 293.49' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M985.44-149.59C760.81-88.36 749.18 480.65 354.16 535.12-40.86 589.59-103.58 818.29-277.12 825.12' stroke='rgba(0%2c 0%2c 0%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1920' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");}
#button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #222222;
    border: #ff8c00 1px solid;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    -webkit-transition: opacity .5s, visibility .5s;
    -o-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
    -webkit-animation: border-transform 10s linear infinite alternate forwards;
            animation: border-transform 10s linear infinite alternate forwards;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    z-index: 1000;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #button-img.show {
    -webkit-animation: scrollup 0.2s linear forwards;
            animation: scrollup 0.2s linear forwards;
  }
  #button img{
    width:50%;
    margin:auto;
    rotate: 180deg;
  }
  #button-img.show2 {
    -webkit-animation: scrolldown 0.2s linear forwards;
            animation: scrolldown 0.2s linear forwards;
  }
  
@-webkit-keyframes scrolldown{
    from{
        -webkit-rotate: 0deg;
        -moz-rotate: 0deg;
        -ms-rotate: 0deg;
        -o-rotate: 0deg;
        rotate: 0deg;
    }
    to{
        -webkit-rotate: 180deg;
        -moz-rotate: 180deg;
        -ms-rotate: 180deg;
        -o-rotate: 180deg;
        rotate: 180deg;
    }
}
  
@keyframes scrolldown{
    from{
        -webkit-rotate: 0deg;
        -moz-rotate: 0deg;
        -ms-rotate: 0deg;
        -o-rotate: 0deg;
        rotate: 0deg;
    }
    to{
        -webkit-rotate: 180deg;
        -moz-rotate: 180deg;
        -ms-rotate: 180deg;
        -o-rotate: 180deg;
        rotate: 180deg;
    }
}
@-webkit-keyframes scrollup{
    from{
        -webkit-rotate: 180deg;
        -moz-rotate: 180deg;
        -ms-rotate: 180deg;
        -o-rotate: 180deg;
        rotate: 180deg;
    }
    to{
        -webkit-rotate: 0deg;
        -moz-rotate: 0deg;
        -ms-rotate: 0deg;
        -o-rotate: 0deg;
        rotate: 0deg;
    }
}
@keyframes scrollup{
    from{
        -webkit-rotate: 180deg;
        -moz-rotate: 180deg;
        -ms-rotate: 180deg;
        -o-rotate: 180deg;
        rotate: 180deg;
    }
    to{
        -webkit-rotate: 0deg;
        -moz-rotate: 0deg;
        -ms-rotate: 0deg;
        -o-rotate: 0deg;
        rotate: 0deg;
    }
}
.main-container{
}
.about{
    position: relative;
    width:100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-height: -webkit-fill-available;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    top:0;
    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1980' height='1000' preserveAspectRatio='none' viewBox='0 0 1980 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1247%26quot%3b)' fill='none'%3e%3crect width='1980' height='1000' x='0' y='0' fill='url(%23SvgjsLinearGradient1248)'%3e%3c/rect%3e%3cpath d='M1919.687%2c327.422C1971.144%2c329.868%2c2020.351%2c303.586%2c2046.823%2c259.393C2074.028%2c213.975%2c2078.463%2c155.337%2c2049.19%2c111.223C2022.209%2c70.563%2c1968.477%2c68.701%2c1919.687%2c67.801C1868.494%2c66.856%2c1807.894%2c62.331%2c1781.634%2c106.286C1755.041%2c150.797%2c1784.437%2c204.242%2c1811.895%2c248.225C1837.201%2c288.761%2c1871.954%2c325.153%2c1919.687%2c327.422' fill='rgba(23%2c 25%2c 26%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1243.881%2c1136.192C1335.693%2c1136.142%2c1410.968%2c1071.741%2c1456.681%2c992.119C1502.173%2c912.882%2c1522.9%2c813.524%2c1473.123%2c736.906C1426.335%2c664.89%2c1329.758%2c663.857%2c1243.881%2c664.575C1159.805%2c665.278%2c1067.032%2c670.206%2c1021.188%2c740.687C972.13%2c816.11%2c986.539%2c913.949%2c1030.683%2c992.349C1075.764%2c1072.414%2c1151.997%2c1136.242%2c1243.881%2c1136.192' fill='rgba(23%2c 25%2c 26%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1411.67 352.07 a243.96 243.96 0 1 0 487.92 0 a243.96 243.96 0 1 0 -487.92 0z' fill='rgba(23%2c 25%2c 26%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1867.464%2c35.086C1898.315%2c34.628%2c1921.947%2c11.283%2c1937.599%2c-15.306C1953.541%2c-42.388%2c1963.449%2c-74.941%2c1948.509%2c-102.589C1932.966%2c-131.353%2c1900.032%2c-147.977%2c1867.464%2c-145.096C1838.641%2c-142.546%2c1822.086%2c-115.406%2c1807.954%2c-90.156C1794.291%2c-65.742%2c1781.623%2c-38.439%2c1793.63%2c-13.17C1807.155%2c15.293%2c1835.954%2c35.553%2c1867.464%2c35.086' fill='rgba(23%2c 25%2c 26%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M385.856%2c528.358C487.533%2c528.438%2c579.599%2c464.995%2c624.956%2c373.995C666.154%2c291.341%2c641.029%2c195.101%2c590.49%2c117.805C545.114%2c48.406%2c468.66%2c12.627%2c385.856%2c8.309C293.12%2c3.473%2c191.341%2c16.58%2c140.583%2c94.342C86.029%2c177.92%2c98.299%2c286.729%2c147.404%2c373.621C197.369%2c462.035%2c284.3%2c528.279%2c385.856%2c528.358' fill='rgba(23%2c 25%2c 26%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M931.32%2c717.68C982.657%2c719.31%2c1038.857%2c710.517%2c1065.77%2c666.769C1093.643%2c621.461%2c1082.391%2c563.298%2c1053.949%2c518.345C1027.519%2c476.573%2c980.7%2c456.52%2c931.32%2c454.272C876.812%2c451.791%2c815.399%2c459.215%2c787.701%2c506.226C759.735%2c553.692%2c779.934%2c613.103%2c810.888%2c658.677C837.808%2c698.312%2c883.431%2c716.159%2c931.32%2c717.68' fill='rgba(23%2c 25%2c 26%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M379.96 646.86 a198.38 198.38 0 1 0 396.76 0 a198.38 198.38 0 1 0 -396.76 0z' fill='rgba(23%2c 25%2c 26%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1344.94 28.05 a170.33 170.33 0 1 0 340.66 0 a170.33 170.33 0 1 0 -340.66 0z' fill='rgba(23%2c 25%2c 26%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1247'%3e%3crect width='1980' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='50%25' x2='0%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1248'%3e%3cstop stop-color='rgba(62%2c 62%2c 62%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");


}
.about-container-parent{

    position:relative;
    overflow: hidden;
}
.about-container{
    
    position: absolute;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1980' height='1000' preserveAspectRatio='none' viewBox='0 0 1980 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='1980' height='1000' x='0' y='0' fill='rgba(32%2c 32%2c 32%2c 1)'%3e%3c/rect%3e%3cpath d='M251.091%2c929.217C286.726%2c929.613%2c321.063%2c913.86%2c339.76%2c883.522C359.402%2c851.651%2c362.127%2c811.448%2c343.784%2c778.813C325.089%2c745.551%2c289.201%2c723.883%2c251.091%2c725.763C215.624%2c727.512%2c190.042%2c756.089%2c172.988%2c787.236C156.753%2c816.888%2c149.481%2c851.966%2c165.775%2c881.586C182.601%2c912.173%2c216.184%2c928.829%2c251.091%2c929.217' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1273.084%2c1141.692C1324.878%2c1140.344%2c1375.504%2c1123.763%2c1404.814%2c1081.038C1438.643%2c1031.726%2c1455.718%2c968.509%2c1428.379%2c915.324C1399.017%2c858.204%2c1337.308%2c824.377%2c1273.084%2c824.77C1209.516%2c825.159%2c1151.559%2c861.438%2c1121.043%2c917.203C1091.682%2c970.857%2c1094.621%2c1037.576%2c1128.919%2c1088.217C1159.724%2c1133.701%2c1218.169%2c1143.121%2c1273.084%2c1141.692' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-73.55 389.21 a254.61 254.61 0 1 0 509.22 0 a254.61 254.61 0 1 0 -509.22 0z' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1659.678%2c362.386C1724.31%2c364.322%2c1790.496%2c337.291%2c1820.957%2c280.254C1850.106%2c225.673%2c1825.81%2c162.672%2c1794.991%2c109.016C1764.012%2c55.081%2c1721.869%2c0.449%2c1659.678%2c-0.532C1596.295%2c-1.531%2c1546.68%2c48.74%2c1516.766%2c104.629C1488.702%2c157.061%2c1485.47%2c219.058%2c1514.307%2c271.069C1544.047%2c324.709%2c1598.372%2c360.55%2c1659.678%2c362.386' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1869.035%2c1026.856C1969.658%2c1026.74%2c2062.384%2c974.899%2c2114.56%2c888.86C2168.817%2c799.39%2c2182.472%2c686.966%2c2130.079%2c596.392C2077.752%2c505.931%2c1973.484%2c460.984%2c1869.035%2c464.407C1770.438%2c467.638%2c1685.529%2c527.248%2c1636.035%2c612.583C1586.353%2c698.243%2c1573.98%2c803.119%2c1622.524%2c889.429C1671.953%2c977.313%2c1768.204%2c1026.973%2c1869.035%2c1026.856' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M621.45 180.71 a282.48 282.48 0 1 0 564.96 0 a282.48 282.48 0 1 0 -564.96 0z' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1389.53%2c535.837C1412.998%2c535.935%2c1435.766%2c527.223%2c1448.931%2c507.795C1463.966%2c485.606%2c1471.009%2c457.359%2c1458.916%2c433.439C1445.746%2c407.39%2c1418.719%2c390.397%2c1389.53%2c390.305C1360.192%2c390.213%2c1332.511%2c406.762%2c1319.382%2c432.999C1307.359%2c457.026%2c1315.846%2c485.105%2c1330.986%2c507.3C1344.098%2c526.522%2c1366.262%2c535.739%2c1389.53%2c535.837' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M170.175%2c450.795C211.996%2c448.211%2c238.912%2c409.921%2c257.281%2c372.261C273.066%2c339.897%2c274.266%2c303.411%2c257.639%2c271.472C239.509%2c236.645%2c209.438%2c204.793%2c170.175%2c204.931C131.079%2c205.069%2c103.936%2c238.59%2c83.772%2c272.085C62.714%2c307.067%2c44.414%2c347.556%2c62.187%2c384.316C81.907%2c425.104%2c124.956%2c453.589%2c170.175%2c450.795' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1980' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    rotate: 20deg;
    width:100%;
    height: 400%;
    right:0;
    top:0;
    margin-top:-200px;
    margin-right: -30%;
}
.left{
    overflow: visible;
    z-index: 2;
    height: 20rem;
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
    margin-left:6vw;
    margin-top:20vh;
    border-left: solid 0.7vw #ff8c00;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

}
.left-animation{
    -webkit-animation: leftanimation 1s linear forwards;
            animation: leftanimation 1s linear forwards;
}
@-webkit-keyframes leftanimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes leftanimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.left h1{
    color: white;
    margin-left:20px;
    font-size: 3rem;
    font-family: fontlogo;
    font-weight: 100;
}
@font-face {
    font-family: Aboreto;
    src: url(GreatVibes-Regular.ttf);
}
.left p{
    color:white;
    margin-top:15px;
    margin-left:20px;
    font-size: 2rem;
    width:80%;
    font-family: leftparagraf;
}
@font-face {
    font-family: leftparagraf;
    src: url(Koulen-Regular.ttf);
}
.left a{
    font-size: 1.7rem;
    position: relative;
    text-decoration: none;
    color: #ff8c00;
    top:1vw;
    margin-left:30px;
    width: 10rem;
    -webkit-animation: czytajwiecej 4s linear infinite;
            animation: czytajwiecej 4s linear infinite;
    font-family: leftparagraf;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.left a:hover{
    color: white;
}
.left a img{
    width:20px;
    margin-left:0px;
    height: 20px;
}

.right{
    -webkit-box-ordinal-group:4;
        -ms-flex-order:3;
            order:3;
    z-index: 2;
    height: 100%;
    margin-left:10vw;
    margin-top: 25rem;
    position: absolute;
    right:10vw;
    
}
.right a{
    color:#ff8c00;
    text-decoration: none;
    font-weight: 700;
    font-size:1.5rem;
    font-family:leftparagraf;
    letter-spacing: 2px;
    padding: 20px;
}
.button-contact{
    position:relative;
    border: solid 3px #ff8c00;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    text-align: center;
    padding:5px;
    -webkit-transition: all 0.2s ease-in-out ;
    -o-transition: all 0.2s ease-in-out ;
    transition: all 0.2s ease-in-out ;
}
.button-contact:hover{
    scale: 1.05;
    border: solid white 2px;

}
.about img{
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100vh;
    bottom: 0;
    -o-object-fit: contain;
       object-fit: contain;
    height: auto;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.4" /><feFuncG type="linear" slope="0.4" /><feFuncB type="linear" slope="0.4" /></feComponentTransfer></filter></svg>#filter');
    -webkit-filter:brightness(40%);
            filter:brightness(40%)
}
@-webkit-keyframes czytajwiecej{
    0%,100%{
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    50%{
        opacity:0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    }
    
}
@keyframes czytajwiecej{
    0%,100%{
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    50%{
        opacity:0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    }
    
}
::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-thumb {
	display: none;
}




.experience{
    
    position: relative;
    width:100%;
    height: auto;
    padding: 3vw;
    background: rgb(36, 36, 36);
    z-index: 3;
    text-align: center;
    display:inline-block;
    -webkit-box-shadow: 0px 0px 46px 47px rgba(36, 36, 36, 1);
            box-shadow: 0px 0px 46px 47px rgba(36, 36, 36, 1);
                        z-index: 1;
}
.experience h3{
    margin-top: 3vw;
    position: relative;
    color:#ff8c00;
    margin-left:auto;
    margin-right:auto;
    z-index: 2;
    font-family: navbarfamily;
    letter-spacing: 5px;
}
.experience h1{
    position: relative;
    font-size: 32px;
    font-size: 2rem;
    color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top:-0.2vw;
    font-weight: bolder;
    z-index: 2;
    font-family: navbarfamily;
    letter-spacing: 10px;
}
#omnie{
    position: absolute;
    left:6vw;
    margin-top: 200px;
    color: rgb(30, 30, 30);
    font-family: navbarfamily;
    letter-spacing: 3px;
    font-size: 10vw;
}
#tekst1{
    position: absolute;
    right:2vw;
    margin-top: -10px;
    color: rgb(30, 30, 30);
    font-family: navbarfamily;
    letter-spacing: 3px;
    font-size: 7vw;
    z-index: 1;
}
.experience p{
    position: relative;
    margin-top:2vw;
    width: 70%;
    margin-left:auto;
    margin-right:auto;
    color:white;
    font-size: 16px;
    font-size: 1rem;
    z-index: 2;
    font-family: experiencefont;
}
@font-face {
    font-family: experiencefont;
    src: url(Share-Regular.ttf);
}
.experience2{
    margin-top: 5vw;
    width:100%;
    height:auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        -webkit-box-pack: space-evenly;
            justify-content: space-evenly;        
}
.experience2-animation{
    -webkit-animation:experience2animation 0.2s linear forwards;
            animation:experience2animation 0.2s linear forwards;
}
@-webkit-keyframes experience2animation {
    from{
        opacity: 0;
        border-radius: 50%;
        -webkit-transform:  translate(0px, 100px);
        -ms-transform:  translate(0px, 100px);
        transform:  translate(0px, 100px);
    }
    to{
        border-radius: 0%;
        opacity: 1;
        -webkit-transform:  translate(0px, 0px);
        -ms-transform:  translate(0px, 0px);
        transform:  translate(0px, 0px);
    }
}

.experience2-container{
    border-radius: 50%;
    -webkit-transform:  translate(0px, 100px);
    -ms-transform:  translate(0px, 100px);
    transform:  translate(0px, 100px);
    opacity: 0;
    z-index: 3;
    position: relative;
    color:white;
    padding: 2vw;
    margin-top: 5vw;
    width:25%;
    height: auto;
    background-color: rgb(42, 42, 42);
    -webkit-box-shadow: 0px 0px 34px -11px rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 34px -11px rgba(255, 255, 255, 1);
    border-top: #ff8c00 2px solid;
}
.experience2-container:nth-child(2){
    scale:1.1;
    background-color: rgb(34, 34, 34);
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}
.experience2-container:nth-child(3){
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}
.experience2-container p{
    margin-top: 2vw;
}
.courses{
    margin-top:12vw;
    width:100%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1065%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(21%2c 20%2c 20%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsG1069' transform='translate(0%2c 0)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1065'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cg id='SvgjsG1068'%3e%3cpath d='M7.634 3.849c0.822 0 1.487-0.665 1.487-1.485S8.456 0.88 7.634 0.88c-0.821 0-1.487 0.664-1.488 1.484s0.666 1.485 1.488 1.485zM12.166 13.885H0.308c-0.334 0-0.3 0.262-0.3 0.262v0.437s-0.03 0.568 0.553 0.568h14.848c0.587 0 0.555-0.555 0.555-0.555v-1.209s-0.05-0.383-0.5-0.383h-1.448c-0.496 0-0.906 0.88-1.851 0.88z m1.153-2.681c0 0.738 0.6 1.337 1.34 1.336 0.739 0 1.341-0.599 1.341-1.336 0-0.74-0.602-1.338-1.341-1.338-0.74 0-1.34 0.597-1.34 1.338zM8.939 8.653a0.953 0.953 0 0 1-0.573 0.596L7.173 9.691l0.44 0.437h2.015l-0.002-3.083-0.674 1.59c-0.003 0.008-0.009 0.012-0.013 0.018z'%3e%3c/path%3e%3cpath d='M11.832 10.861H7.667l-1.004-0.981-0.699 0.258c-0.518 0.185-1.15-0.098-1.345-0.613-0.115-0.32-0.099-0.677 0.093-0.937-0.086-0.004-2.526 0-2.526 0-0.406 0-0.736 0.326-0.736 0.731 0 0.406 0.33 0.723 0.736 0.723h2.484l0.986 1.491-5.087 0.409A0.734 0.734 0 0 0 0 12.657a0.734 0.734 0 0 0 0.733 0.736l5.707 0a1.044 1.044 0 0 1-0.159-0.549 1.054 1.054 0 0 1 1.053-1.054h2.283l1.852-0.386 0.102 0.491-1.901 0.397H7.335a0.551 0.551 0 0 0-0.551 0.552 0.55 0.55 0 0 0 0.54 0.549l4.518 0.001c0.699-0.005 1.26-0.569 1.26-1.266a1.267 1.267 0 0 0-1.27-1.267z'%3e%3c/path%3e%3cpath d='M5.876 9.678a0.582 0.582 0 0 1-0.767-0.299 0.582 0.582 0 0 1 0.299-0.768l2.12-0.796 0.656-1.563-0.427-0.158L7.2 7.433l-1.614 0.595V6.392l-1.578 1.723-1.786-0.002s3.125-3.426 3.223-3.528c0.13-0.129 0.426-0.342 0.984-0.341h2.006c1.14 0 1.36 1.137 1.127 1.724L8.512 8.513a0.591 0.591 0 0 1-0.338 0.319l-2.298 0.846z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1067'%3e%3cpath d='M13.113 6.956a0.719 0.719 0 1 0 1.437 0 0.719 0.719 0 1 0-1.437 0'%3e%3c/path%3e%3cpath d='M8.74 3.712a1.025 1.025 0 0 0 1.025-1.025A1.026 1.026 0 0 0 8.74 1.663a1.025 1.025 0 0 0 0 2.049z m-5.559 0.007c-0.575 0-1.04-0.462-1.04-1.032C2.143 2.117 2.606 1.655 3.182 1.655c0.574 0 1.04 0.462 1.04 1.032s-0.466 1.032-1.04 1.032z m11.692 4.31h-1.94c-0.009 0-0.648-0.058-0.648-0.058l-0.813-2.832C11.145 4 10.189 4.035 10.189 4.035H7.56s-0.954-0.035-1.281 1.104l-0.401 1.395-0.4-1.395c-0.328-1.139-1.282-1.105-1.282-1.104h-2.034s-0.955-0.035-1.282 1.104L0.061 7.993c-0.078 0.267 0.068 0.47 0.301 0.537 0.233 0.067 0.471-0.051 0.532-0.264l0.798-2.78 0.389-0.001-1.164 4.815h1.029v3.42a0.509 0.509 0 0 0 0.509 0.511 0.512 0.512 0 0 0 0.511-0.511V10.3h0.431v3.42a0.51 0.51 0 0 0 0.509 0.511 0.512 0.512 0 0 0 0.512-0.512V10.299h1.011l-1.152-4.815 0.387 0.001L5.453 8.237c0.013 0.047 0.034 0.089 0.061 0.128 0.077 0.116 0.211 0.182 0.363 0.176 0.15 0.005 0.284-0.059 0.361-0.175a0.373 0.373 0 0 0 0.067-0.141l0.785-2.74 0.358 0v8.136a0.603 0.603 0 0 0 0.604 0.601 0.601 0.601 0 0 0 0.6-0.601v-4.629h0.445v4.629a0.601 0.601 0 0 0 0.601 0.601c0.333 0 0.605-0.269 0.605-0.601v-8.136l0.389 0 0.764 2.781c0.04 0.137 0.155 0.228 0.292 0.262 0.006 0.002 0.009 0.006 0.015 0.005 0.12 0.028 0.681 0.186 1.094 0.304V13.883a0.423 0.423 0 0 0 0.845 0V11.362H14.032v2.521c0 0.233 0.189 0.423 0.422 0.423s0.424-0.189 0.424-0.423V9.17h0.326v1.598c0 0.174 0.142 0.316 0.314 0.316 0.174 0 0.311-0.142 0.311-0.316V8.951c0-0.509-0.447-0.921-0.956-0.922z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1066'%3e%3cpath d='M10.638 8.247l-4.284-0.705 0.615-0.438 1.029 0.143 1.027-0.143 1.613 1.143zM7.998 0.15c0.859 0 1.555 0.696 1.555 1.556 0 0.859-0.548 1.556-1.555 1.555-0.859 0-1.556-0.696-1.557-1.555 0-0.86 0.697-1.556 1.557-1.556z m0.387 11.242v3.759A0.849 0.849 0 0 0 9.234 16a0.849 0.849 0 0 0 0.849-0.849V11.392c0-0.468-0.38-0.849-0.849-0.849a0.85 0.85 0 0 0-0.849 0.849z m5.202 2.146a0.493 0.493 0 0 1-0.492 0.494h-2.604v-2.463h1.126V9.11a0.493 0.493 0 0 1 0.492-0.492h0.986a0.493 0.493 0 0 1 0.492 0.492v4.429z m-5.609 0.494H2.923a0.493 0.493 0 0 1-0.493-0.494V9.11c0-0.271 0.22-0.492 0.493-0.492h0.985a0.493 0.493 0 0 1 0.493 0.492v2.459h3.577v2.462zM5.316 8.72a0.85 0.85 0 0 0 0.7 0.976l3.709 0.611a0.85 0.85 0 0 0 0.976-0.7c0.076-0.463-0.237-0.9-0.7-0.975L6.292 8.02a0.85 0.85 0 0 0-0.976 0.7z'%3e%3c/path%3e%3cpath d='M7.998 4.499l2.016-0.329v1.418l0.996 0.748c0.096 0.096 0.057 0.207 0.034 0.238-0.057 0.075-0.163 0.09-0.237 0.034l-1.257-0.949a0.577 0.577 0 0 0-0.665 0.942l2.146 1.508c0.1 0.071 0.242 0.118 0.383 0.118 0.12 0 0.263-0.05 0.368-0.124 0.225-0.16 0.308-0.444 0.232-0.706L11.216 5.041c-0.213-0.585-0.75-1.274-1.556-1.275H6.334c-0.806 0-1.343 0.689-1.556 1.275l-0.797 2.356c-0.077 0.262 0.007 0.545 0.232 0.705 0.105 0.075 0.247 0.125 0.367 0.125 0.142 0 0.284-0.047 0.384-0.118l2.147-1.508a0.577 0.577 0 0 0-0.666-0.942l-1.257 0.949a0.17 0.17 0 0 1-0.237-0.034c-0.023-0.031-0.062-0.141 0.034-0.237 0 0 0.675-0.507 0.996-0.749v-1.418l2.017 0.329z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG1069'%3e%3cuse xlink:href='%23SvgjsG1066' transform='translate(0%2c 0) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1066' transform='translate(0%2c 145.6) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(0%2c 291.2) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(0%2c 436.79999999999995) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1066' transform='translate(145.6%2c 0) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(145.6%2c 145.6) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(145.6%2c 291.2) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1066' transform='translate(145.6%2c 436.79999999999995) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1066' transform='translate(291.2%2c 0) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(291.2%2c 145.6) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(291.2%2c 291.2) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(291.2%2c 436.79999999999995) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(436.79999999999995%2c 0) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(436.79999999999995%2c 145.6) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1066' transform='translate(436.79999999999995%2c 291.2) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(436.79999999999995%2c 436.79999999999995) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(582.4%2c 0) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(582.4%2c 145.6) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(582.4%2c 291.2) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1066' transform='translate(582.4%2c 436.79999999999995) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(728%2c 0) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(728%2c 145.6) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1066' transform='translate(728%2c 291.2) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(728%2c 436.79999999999995) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(873.5999999999999%2c 0) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(873.5999999999999%2c 145.6) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(873.5999999999999%2c 291.2) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1066' transform='translate(873.5999999999999%2c 436.79999999999995) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(1019.1999999999999%2c 0) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(1019.1999999999999%2c 145.6) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1066' transform='translate(1019.1999999999999%2c 291.2) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(1019.1999999999999%2c 436.79999999999995) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(1164.8%2c 0) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(1164.8%2c 145.6) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(1164.8%2c 291.2) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(1164.8%2c 436.79999999999995) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(1310.3999999999999%2c 0) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1067' transform='translate(1310.3999999999999%2c 145.6) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(1310.3999999999999%2c 291.2) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG1068' transform='translate(1310.3999999999999%2c 436.79999999999995) scale(2.6)' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e");
        }
.imagebg h1,.imagebg2 h1,.imagebg3 h1{

    color: white;
    font-size: 5vw;
    position: relative;
    font-family: navbarfamily;

    /* background-image: url("bg1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:grayscale(100%) */
    
}
.imgbg{

    -webkit-background-position: center;
        -moz-background-position: center;
            -o-background-position: center;
                background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box; 
        display: -ms-flexbox; 
            display: flex;
            
}
.imgbg::after{
    content: '';
    position: absolute;
    top:0;
    height: 50px;
    
}
.imagebg{
    width:100%;
    background-image: url("bg1.jpg");
    text-align: center;
    min-height: 500px; 

}
.imagebg2{
    width:100%;
    background-image: url("bg2.jpg");
    text-align: center;
    min-height: 500px; 
    position: relative;
}
.imagebg3{
    width:100%;
    background-image: url("bg3.jpg");
    text-align: center;
    min-height: 500px; 
}
.courses-items{
    width: 100%;
    position: relative;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}
.nameandicon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2vw;
}
.nameandicon h1, p{
    color: white;
}
.nameandicon h1{
    margin-left: 2vw;
}
.courses-item{
    -webkit-box-shadow: 8px 8px 38px 10px rgba(0, 0, 0, 1);
            box-shadow: 8px 8px 38px 10px rgba(0, 0, 0, 1);
    margin-top: 2vw;
    background-color: #222222;
    height: auto;
    width:30%;
    min-width: 440px;
    padding: 20px;
    z-index: 2;
    opacity:1;
}
.courses-item:after{
    content:no-close-quote;
    position:absolute;
    top:50%;
    left:50%;
    background-color:black;
    width:4px;
    height:4px;
    border-radius:50%;
    margin-left:-2px;
    margin-top:-2px;
  }
  #connectlines{
    z-index:1;
    position:absolute;
    width:4px;
    background-color:#ff8c00;
  } 
  #connectlines2{
    z-index:1;
    position:absolute;
    width:4px;
    background-color:#ff8c00;
  } 
  #connectlines3{
    z-index:1;
    position:absolute;
    width:4px;
    background-color:#ff8c00;
  } 
/* .courses-animation{
    animation:coursesanimation 1s linear forwards;
}
@keyframes coursesanimation {
    from{
        opacity: 0;
        border-radius: 50%;
        -webkit-transform:  translate(100px, 0px);
        -moz-transform:  translate(100px, 0px);
        -ms-transform:  translate(100px, 0px);
        -o-transform:  translate(100px, 0px);
        transform:  translate(100px, 0px);
    }
    to{
        border-radius: 0%;
        opacity: 1;
        -webkit-transform:  translate(0px, 0px);
        -moz-transform:  translate(0px, 0px);
        -ms-transform:  translate(0px, 0px);
        -o-transform:  translate(0px, 0px);
        transform:  translate(0px, 0px);
    }
} */
.courses-item1{
    margin-left: 10vw;

}
.courses-item2{
    position: relative;
    margin-left:55vw;
    margin-top: 5vw;
}
.courses-item3{
    position: relative;
    float:left;
    left:5vw;
    margin-top: 6vw;
}
.courses-item4{
    position: relative;
    float:left;
    left:0;
    right:0;
    margin:auto;
    margin-top: 5vw;
    margin-bottom: 2rem;
}
.prices-parent{
    width:100%;
    padding-top: 4vw;
    padding-bottom: 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-around; }
.prices-child{
    width:30%;
    background-color: #1a1a1a;
    border-bottom: #ff8c00 1px solid;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    padding: 30px;
    color: white;
}
.prices-child h2{
    font-size: 64px;
    font-size: 4rem;
    font-family: navbarfamily;
}
.prices-child h1{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.prices-child img{
    width: 30px;
    margin-right:2vw;
}
#foot{
    width:75%;
    background-color: #aaa;
    height: 3px;
    margin-top: 3vw;
}
.prices-child p{
    margin-top: 2vw;
}


.contact-parent{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:90%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.contact-child{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding:20px;
}
.contact-child h1{
    margin-top: 2vw;
    color: #ff8c00;
    font-family: navbarfamily;
    margin-bottom: 1vw;
}
.contact-child img{
    width: 64px;
    
}
.contact-child:nth-child(2){
    border-left: #ff8c00 2px solid;
    border-right: #ff8c00 2px solid;
}
.icons-parent{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.maps{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -ms-flex-wrap: wrap;  
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#map {
    height: 400px; /* The height is 400 pixels */
    width: 50%; /* The width is the width of the web page */
  }
#map2 {
    
    height: 400px; /* The height is 400 pixels */
    width: 50%; /* The width is the width of the web page */
  }


footer{
    position: relative;
    width:100%;
    height: 500px;
    background-color: #000000;
    bottom:0;
    margin-top: 50px;
}
#line{
    position: relative;
    height: 2px;
    background-color: rgb(116, 116, 116);
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    bottom:0;
}
.footer-content{
    width:100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.row{
    display: flex;
    width:25%;
    justify-content: space-evenly;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 0.6rem;
    padding-top: 100px;
    height: 100%;
    justify-content: flex-start;
}
.icons-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.icons-footer a{
    margin-left:0.5vw;
    margin-right:0.5vw;
}
.copyrights{
    position: relative;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 20%;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.copyright-paragraf{
    position: absolute;
    bottom:0;
    right:0;
}

.loader{
    z-index: 9999;
    position: fixed;
    top:0;
    left:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width:100vw;
    height: 100vh;
    background-color: rgba(53, 53, 53, 0.948);
}
.loader h1{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation: loading 2s ease infinite;
            animation: loading 2s ease infinite;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: white;
    font-family: fontlogo;

}
@-webkit-keyframes loading{
    0%,100%{
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    50%{
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    }
}
@keyframes loading{
    0%,100%{
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    50%{
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    }
}
@font-face {
    font-family: fontlogo;
    src: url(DawningofaNewDay-Regular.ttf);
}
.loader-child{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:100px;
    height: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    

}

.loading{
    border-radius: 50%;
  border-left: 4px solid;
  border-right: 4px solid;
  border-top: 4px solid transparent !important;
  border-bottom: 4px solid transparent !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}
.loadinganimation{
    -webkit-animation: rotate 4s infinite;
    animation: rotate 4s infinite;
}
.loading:nth-child(1){
    border-color: #0044ff;
  width: 200px;
  height: 200px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading:nth-child(2){
    border-color: #ff8c00;
  width: 240px;
  height: 240px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loading:nth-child(3){
    border-color: #ffffff;
  width: 160px;
  height: 160px;
}
.loader--hidden{
    -webkit-animation:HideDown 1s linear forwards;
            animation:HideDown 1s linear forwards;
    visibility: hidden;
}
.loader--show{
    -webkit-animation:ShowUp 1s linear forwards;
            animation:ShowUp 1s linear forwards;
    visibility: show;
}
















@-webkit-keyframes ShowUp{
    from{
        opacity:0.7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    }
    to{
        opacity:1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}

@keyframes ShowUp{
    from{
        opacity:0.7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    }
    to{
        opacity:1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}
@-webkit-keyframes HideDown{
    from{
        opacity:1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    to{
        opacity:0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}
@keyframes HideDown{
    from{
        opacity:1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    to{
        opacity:0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@-webkit-keyframes rotate {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(-180deg);
    }
    
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

@keyframes rotate {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    
    50% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(-180deg);
    }
    
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }


@media (max-width: 990px){
    .courses-item2{
        margin-left: 40vw;
    }
}



@media (max-width: 790px){
    .experience2-container:nth-child(2){
        scale:1;
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
    }
    .experience2-container:nth-child(3){
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
    }
    .maps{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
    }
    #map,#map2{
        width:80%;
        margin-top: 2vw;
    }
    .prices-parent{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-line-pack: center;
            align-content: center
    }
    .prices-child{
        width: 80%;
        margin-bottom: 6vw;
    }
    .contact-parent{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

    }
    .contact-child:nth-child(2){
        border: none;
        border-top: #ff8c00 2px solid;
        border-bottom: #ff8c00 2px solid;
    }
    .prices-parent{
        width:100%;
        
    }
    #tekst1{
        display: none;
    }
    #omnie{
        font-size: 15rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 15vw;
    }
    .imagebg h1,.imagebg2 h1,.imagebg3 h1{
        font-size: 3rem;
    }
    .courses-items{
        width:100%;
    }
.courses-item{
    margin-top: 5vw;
    margin-left:auto;margin-right:auto;
    width:90%;
    min-width: 50px;
    -webkit-transform: scale(1);
            -ms-transform: scale(1);
        transform: scale(1);
}
.courses-item3{
    left:0;
}
    .experience h3{
        margin-top: 20vw;
    }
    .experience2{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-line-pack: center;
            align-content: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width:100%;
        
    }
    .experience2-container{
        width:80%;
        padding: 30px;
    }
    .experience2-child{
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .about-container{
        margin-right: -10%;

    }
    .left{
        margin-top:10rem;
        margin-left: 1vw;
        border-left: solid 1.5vw #ff8c00;
        height: 15rem;
    }
    .about img{
        width:40rem;
    }
    .right{
        display: none;
    }
    
    .left h1{
        font-size: 2rem;
    }
    .left p{
        font-size: 1.5rem;
    }
    .left a{
        font-size: 1rem;
        z-index: 2;
    }
    .left a img{
        height: auto;
        width:3vw;
    }

}
@media (max-width:560px){
    #omnie{
        font-size: 13rem;
    }
    .about-container{
        margin-right: 20%;
    }
}
@media (max-width:490px){
    #omnie{
        font-size: 11rem;
    }
}
@media (max-width:443px){
}
@media (max-width:430px) {
    .about img{
        margin-right: -10rem;
        width:40rem;
    }
    .about-container{
        margin-right: 40%;
    }
}
@media (max-width:420px){
    #omnie{
        font-size: 9rem;
    }
}
@media (max-width:330px) {
    .about img{
        display: none;
    }
    .left{
        width:80%;
    }
}
@-webkit-keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
	14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
	28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
	42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
	56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
	70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
	84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
	14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
	28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
	42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
	56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
	70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
	84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}
